#highScoreButton {
    -fx-background-color: rgb(0, 82, 24);
}

#highScoreButton:hover {
    -fx-background-color: rgb(0, 68, 20);
    -fx-cursor: hand;
}

#highScoreButton:pressed {
    -fx-background-color: rgb(0, 53, 16);
}

.list-view .list-cell .label {
    -fx-text-fill: white;
    -fx-font-family: "Consolas";
}

.list-view .list-cell:even {
    -fx-background-color: rgb(0, 70, 24);
    -fx-text-fill: yellow;
    -fx-font-color: white;
    -fx-font-size: 30px;
}
.list-view .list-cell:odd {
    -fx-background-color: rgb(0, 82, 24);
    -fx-text-fill: blue;
    -fx-font-color: white;
    -fx-font-size: 30px;
}