#highScoreButton {
    -fx-background-color: rgb(0, 82, 24);
}

#highScoreButton:hover {
    -fx-background-color: rgb(0, 68, 20);
    -fx-cursor: hand;
}

#highScoreButton:pressed {
    -fx-background-color: rgb(0, 53, 16);
}

.list-view .list-cell .label {
    -fx-text-fill: white;
    -fx-font-family: "Roboto";
}

.list-view .list-cell:even {
    -fx-background-color: #3b6f25;
    -fx-font-color: white;
    -fx-font-size: 26px;
}
.list-view .list-cell:odd {
    -fx-background-color: #407a29;
    -fx-font-color: white;
    -fx-font-size: 26px;
}